[instance1]
SERVER_HOSTNAME=127.0.0.1
SERVER_PORT=65000
SERVER_DIR=$HOME/.ophidia/data1
MAX_PACKET_LEN=4000000
CLIENT_TTL=300
OPENMP_THREADS=2
MEMORY_BUFFER=1024

[instance2]
SERVER_HOSTNAME=127.0.0.2
SERVER_PORT=65000
SERVER_DIR=$HOME/.ophidia/data2
MAX_PACKET_LEN=4000000
CLIENT_TTL=300
OPENMP_THREADS=2
MEMORY_BUFFER=1024

