[instance$ID]
SERVER_HOSTNAME=$HOST
SERVER_PORT=65000
SERVER_DIR=$SCRIPTDIR/data$ID
MAX_PACKET_LEN=4000000
CLIENT_TTL=300
OPENMP_THREADS=2
MEMORY_BUFFER=2048
CACHE_LINE_SIZE=64
CACHE_SIZE=262144
WORKING_DIR=/data

